[submodule "_tmp_agency_agents"]
	path = _tmp_agency_agents
	url = https://github.com/msitarzewski/agency-agents.git
	ignore = dirty
[submodule "tmp/co-codex-skill"]
	path = tmp/co-codex-skill
	url = https://github.com/snpstudios/co-codex-skill.git
	ignore = dirty
[submodule "tmp/mobileCodexHelper"]
	path = tmp/mobileCodexHelper
	url = https://github.com/StarsTom/mobileCodexHelper.git
	ignore = dirty
[submodule "tmp/ui-ux-pro-max-skill"]
	path = tmp/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
	ignore = dirty
[submodule "wechat-love-preview"]
	path = wechat-love-preview
	url = ./wechat-love-preview
	ignore = dirty
